.monitorShipmentsBox {
  background: #f5f5f5;

  .contentBox {
    display: flex;
    align-items: center;
    width: 100%;
    .leftContent {
      padding: 12px 24px;
      width: 55%;
      border-radius: 8px;
      background: #fff;
      min-height: 500px;
      .contentOption {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .fromOption {
          display: flex;
          align-items: center;
          width: 100%;
          .btnBox {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
              flex: auto;
            }
            .btnMargin {
              margin-inline: 4px;
            }
          }
          .ant-form-item {
            margin-bottom: 0 !important;
          }
          .inputBuy {
            max-width: 160px;
          }
          .inputAuto {
            min-width: 200px;
          }
          .selectOption {
            min-width: 200px;
          }
        }
        .btnListOption {
          display: flex;
          align-items: center;
          width: 100%;
          .btnRight12 {
            margin-left: 12px;
          }
        }
      }
    }
    .rightContent {
      padding: 12px 24px;
      border-radius: 8px;
      background: #fff;
      width: 45%;
      margin-left: 24px;
      min-height: 500px;
      .logsBox {
      }
    }
  }
}
